.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.issue-card-body {
  padding: 0 !important;
}

.issue-summary-container {  
  display: flex;
}

.issue-summary {
  font-size: 15px;
}
.issue-id-container {
  font-size: 15px;
}
img {
  width: 30%;
}
.issue-id {
  padding: 5px;
}
.modal-header {
  border: none !important;
}
.modal-issue-img {
  width: 10%;
  padding-right: 3px;
}
.issue-card-body {
  padding: 20px 0 !important;
}
.home-page-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.172/static/media/jira-left.1ed82f79.svg), url(https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.172/static/media/jira-right.dee3d2d1.svg);
    background-repeat: no-repeat no-repeat;
    background-attachment: fixed, fixed;
    background-size: 368px, 368px;
    background-position: left bottom, right bottom;
    background-color: lightblue;
}
.center-aligned {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.spinner {
  width: 150px;
  height: 150px;
}
.project-issue-board {
  margin: 20px 0;
}
.project-issue-board-background {
  background-color: whitesmoke;
  padding: 2%;
}